<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<main role="main" > 
 
	<div class="card card-body">
		<h1 class="text-center"> Capture: {{this.getPageInfo().capName}}</h1>	
		<button class="btn btn-primary" type="button"> Inject Capture </button>
		<button class="btn btn-primary" type="button"> Add to Favorites </button>
	</div>
	<br>
	<br>
	<div class="card card-body">
		<h4 class="font-weight-bold"><button class="btn btn-primary" type="button"> Expand </button> Basic Info </h4>
		
		<hr style="height:2px;border:none;color:#55;background-color:#333;" />
		<table class="table">
			<tr>
				<td>
					<div>
					Capture Name
					&nbsp;
					&nbsp;
					<mat-form-field>
						<mat-label>Capture Name</mat-label>
						<input matInput #capName value="{{this.getPageInfo().capName}}">			
					</mat-form-field>
					</div>
					<div>
					CD Protocol
					&nbsp;
					&nbsp;
					<mat-form-field appearance="fill">
						<mat-label>X2 Protocol</mat-label>
						  <select matNativeControl required>
							<option *ngFor="let x2 of this.getCapX2Protos(); let idx = index" value="{{x2.ID}}">{{x2.name}}</option>
						  </select>		
					</mat-form-field>
					</div>
					
					<div>
					CC Protocol
					&nbsp;
					&nbsp;
					<mat-form-field appearance="fill">
						<mat-label>X3 Protocol</mat-label>
						  <select matNativeControl required>
							<option *ngFor="let x3 of this.getCapX3Protos(); let idx = index" value="{{x3.ID}}">{{x3.name}}</option>							
						  </select>
					</mat-form-field>
					</div>
					
					<div>
					Technology
					&nbsp;
					&nbsp;
					<mat-form-field appearance="fill">
						<mat-label>Core Technology</mat-label>
						  <select matNativeControl required>
								<option  *ngFor="let tech of this.getCapTechnologyTypes(); let idx = index" value="{{tech.ID}}">{{tech.name}}</option>					
						  </select>
					</mat-form-field>
					</div>					
				</td>
					<h5 class="font-weight-bold"> General info </h5>
					<div style="card card-type">
						
						<p>Capture size: {{this.getPageInfo().capSize}}</p>
						<p>Capture length: {{this.getPageInfo().capLength}}</p>
						<p>Uploaded by: {{this.getPageInfo().uploader.surname}}, {{this.getPageInfo().uploader.name}} at {{this.getPageInfo().uploadDate}}</p>
						<p>Verified by: {{this.getPageInfo().verifier.surname}}, {{this.getPageInfo().verifier.name}} at {{this.getPageInfo().verifyDate}}</p>
						<p>Last Update by: {{this.getPageInfo().lastUpdater.surname}}, {{this.getPageInfo().lastUpdater.name}} at {{this.getPageInfo().lastUpdateDate}}</p>
						<p>Status: <span style="color: #00AA00;font-weight:bold">  {{this.getPageInfo().capStatus.name}} </span></p>
						<button class="btn btn-primary" type="button"> Validate capture</button>
					</div>
				<td>
				</td>
			</tr>			
		</table>
		<h5 class="font-weight-bold"> User Comments</h5>
		<div class="card card-body">
			<textarea class="usrNotes" matInput cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="10" cdkAutosizeMaxRows="40" value=" {{this.getPageInfo().capUserNotes}}"></textarea>
		</div>
	</div>
	
	<div class="card card-body">
		<h4 class="font-weight-bold"> <button class="btn btn-primary" type="button"> Expand </button>  Advanced Info </h4>
		<hr style="height:2px;border:none;color:#55;background-color:#333;" />
		
		<div style="margin-left: 30px">
			<h4 class="font-weight-bold"><button class="btn btn-primary" type="button"> Expand </button>  Stream Info</h4>
			<hr style="height:2px;border:none;color:#55;background-color:#333;" />
			<div style="card card-body">
				<table class="table">
				<tr>
					<td>
						CD Port
						&nbsp;
						<mat-form-field [style.width.px]=100>
								<mat-label>X2 port</mat-label>
								<input matInput #x2prt value="{{this.getPageInfo().capX2Port}}">			
						</mat-form-field>
						<br>
						CD Transport
						&nbsp;
						<mat-form-field appearance="fill" [style.width.px]=100>
						<mat-label>X2 Transport</mat-label>
						  <select matNativeControl required>
							<option *ngFor="let trans of this.getCapTransportTypes(); let idx = index" value="{{trans.ID}}">{{trans.name}}</option>							
						  </select>
						</mat-form-field>
						<br>				
						CC Port
						&nbsp;
						<mat-form-field [style.width.px]=100>
								<mat-label>X3 port</mat-label>
								<input matInput #x3prt value="{{this.getPageInfo().capX3Port}}">
						</mat-form-field>
						<br>
						CC Transport
						&nbsp;
						<mat-form-field appearance="fill" [style.width.px]=100>
						<mat-label>X3 Transport</mat-label>
						  <select matNativeControl required>
							<option *ngFor="let trans of this.getCapTransportTypes(); let idx = index" value="{{trans.ID}}">{{trans.name}}</option>							
						  </select>
						</mat-form-field>
					<td>
					<td>
						<div class="card card-body">
						<h5 class="font-weight-bold text-center">Detected Streams</h5>
						<ul style="list-style:none">
							<li *ngFor="let stream of this.getStreamInfos(); let idx= index">
								<div>
									{{idx+1}}.&nbsp;{{stream.trans}}@{{stream.port}}&nbsp;{{stream.protocol}}&nbsp;{{stream.packets}} packets,&nbsp;{{stream.size}} bytes
									<br>
									<br>
								</div>
							</li>
						</ul>
						</div>
					</td>
				</tr>
				</table>
			</div>
		</div>
		<div style="margin-left: 30px">
			<h4 class="font-weight-bold"> <button class="btn btn-primary" type="button"> Expand </button>  Capture Info</h4>
			<hr style="height:2px;border:none;color:#55;background-color:#333;" />
			<div style="card card-body">				
					Target IC 
					<mat-form-field appearance="fill" [style.width.px]=100>
						<mat-label>IC Type</mat-label>
						  <select matNativeControl required>
							<option value="1">LIID</option>
							<option value="2">MSISDN</option>
							<option value="3">TelURI</option>
							<option value="4">IMSI</option>
							<option value="4">IMEI</option>
						  </select>
					</mat-form-field>
					&nbsp;
					&nbsp;
					IC Value
					<mat-form-field [style.width.px]=100>
							<mat-label>ICValue</mat-label>
							<input matInput #icvalue value="{{this.getPageInfo().capIC.infoValName}}">
					</mat-form-field>
					&nbsp;
					&nbsp;
					Switch time
					<mat-form-field [style.width.px]=100>
							<mat-label>Switch Time</mat-label>
							<input matInput #swtime value="{{this.getPageInfo().capSwitchDate}}">			
					</mat-form-field>
					<ul style="list-style:none">						
						<li style="display:inline" *ngFor="let info of this.getPageInfo().getCaptureInfos(); let idx = index">
							<button class="btn btn-secondary btn-sm" type="button"> X</button>
							&nbsp;
							 <span style="font-weight:bold;color: #0000BB">{{info.infoTypeName}}:</span> {{info.infoValName}}
							 &nbsp;
							 &nbsp;
						</li>
					</ul>
					<br>
					<button class="btn btn-primary" type="button" > Add Capture Info </button>
			</div>
		</div>
		<br>
		<br>
		<div style="margin-left: 30px">
			<h4 class="font-weight-bold"><button class="btn btn-primary" type="button"> Expand </button> Capture Tags</h4>
			<hr style="height:2px;border:none;color:#55;background-color:#333;" />
			<div style="card card-body">
			</div>
			<ul style="list-style:none">
						<li style="display:inline" *ngFor="let tg of this.getPageInfo().getCaptureTags(); let idx = index">
							<button class="btn btn-secondary btn-sm" type="button"> X</button>
							 {{tg.tagName}}
							 &nbsp;
							 &nbsp;
						</li>
			</ul>
			<button class="btn btn-primary" type="button" > Add Capture Tag </button>
		</div>
			
	</div>
	<br>
	<br>
	<div class="card card-body">
		<h4 class="font-weight-bold"><button class="btn btn-primary" type="button"> Expand </button> Capture referenced {{this.getPageInfo().getCaptureRefNumber()}} times in {{this.getPageInfo().getCaptureProjsNumber()}} projects</h4>		
		<hr style="height:2px;border:none;color:#55;background-color:#333;" />
		<div class="card-card-body" style="margin-left:50px">
			<ul style="list-style:none">
				<li *ngFor="let prj of this.getPageInfo().getCaptureProjectLinks(); let idx = index">
					<h4 class="font-weight-bold">{{prj.projName}} - {{prj.capSetNames.length}} references</h4>
					<hr style="height:2px;border:none;color:#55;background-color:#333;" />
					<h5 class="font-weight-bold">Capture Sets</h5>
					<ul style="list-style:none">
						<li *ngFor="let capSetName of prj.capSetNames; let ii = index">
							<h5> {{capSetName}}</h5>
						</li>						
					</ul>
					<hr style="height:0.5px;border:none;color:#00;background-color:#333;" />
					<br>
					<br>
				</li>
			</ul>
		</div>		
	</div>
</main>

</html>
