<div class ="card card-body" *ngIf="!this.isPageReady()">
	<button class="btn btn-primary" type="button" (click)="this.onGeneratePageClick()"> Generate Page</button>
	<button class="btn btn-primary" type="button" (click)="this.onRequestBEUpdateClick()"> Request Page from BE</button>
</div>

<main role="main" *ngIf="this.isPageReady()"> 
 
	<div class="card card-body">
		<h1 class="text-center"> Capture: {{this.getPageInfo().capName}}</h1>	
		<button class="btn btn-primary" type="button" (click)="this.onInjectCaptureClick()"> Inject Capture </button>
		<button class="btn btn-primary" type="button"> Add to Favorites </button>
		<button class="btn btn-primary" type="button" (click)="onRequestBEPresetsClick()">Force request BE Presets</button>
		<button class="btn btn-primary" type="button" (click)="onRequestBEInfoPresetsClick()">Force request BE Info Presets</button>
		<button class="btn btn-primary" type="button" (click)="onRequestBEStreamsClick()">Force request BE Streams</button>
		<button class="btn btn-primary" type="button" (click)="onRequestBEPageClick()">Force request BE Page</button>
		<button class="btn btn-primary" type="button" (click)="onQuerryBEClick()">Querry Backend</button>
		
	</div>
	<br>
	<br>

	
	<h4 class="font-weight-bold"><button class="btn btn-primary" type="button" (click)="this.onExpandBasicInfo()" id="btnBasicInfo" > - Collapse </button> Basic Info </h4>
	<hr style="height:2px;border:none;color:#55;background-color:#333;" />
	
	<div id="basicInfo" class="card card-body" *ngIf="this.isBasicInfoVisible()" >
		<table class="table">
			<tr>
				<td>
					<div>
					Capture Name
					&nbsp;
					&nbsp;
					<mat-form-field>
						<mat-label>Capture Name</mat-label>
						<input matInput #capName value="{{this.getPageInfo().capName}}">			
					</mat-form-field>
					</div>
					<div>
					CD Protocol
					&nbsp;
					&nbsp;
					<mat-form-field appearance="fill">
						<mat-label>X2 Protocol</mat-label>
						  <select matNativeControl required>
							<option *ngFor="let x2 of this.getCapX2Protos(); let idx = index" value="{{x2.id}}">{{x2.displayName}}</option>
						  </select>		
					</mat-form-field>
					</div>
					
					<div>
					CC Protocol
					&nbsp;
					&nbsp;
					<mat-form-field appearance="fill">
						<mat-label>X3 Protocol</mat-label>
						  <select matNativeControl required>
							<option *ngFor="let x3 of this.getCapX3Protos(); let idx = index" value="{{x3.id}}">{{x3.displayName}}</option>							
						  </select>
					</mat-form-field>
					</div>
					
					<div>
					Technology
					&nbsp;
					&nbsp;
					<mat-form-field appearance="fill">
						<mat-label>Core Technology</mat-label>
						  <select matNativeControl required>
								<option  *ngFor="let tech of this.getCapTechnologyTypes(); let idx = index" value="{{tech.id}}">{{tech.displayName}}</option>					
						  </select>
					</mat-form-field>
					</div>					
				</td>
					<h5 class="font-weight-bold"> General info </h5>
					<div style="card card-type">
						
						<p>Capture size: {{this.getPageInfo().capSize}}</p>
						<p>Capture length: {{this.getPageInfo().capLength}}</p>
						<p>Uploaded by: {{this.getPageInfo().uploader.surname}}, {{this.getPageInfo().uploader.name}} at {{this.getPageInfo().uploadDate}}</p>
						<p>Verified by: {{this.getPageInfo().verifier.surname}}, {{this.getPageInfo().verifier.name}} at {{this.getPageInfo().verifyDate}}</p>
						<p>Last Update by: {{this.getPageInfo().lastUpdater.surname}}, {{this.getPageInfo().lastUpdater.name}} at {{this.getPageInfo().lastUpdateDate}}</p>
						<p>Status: <span style="color: #00AA00;font-weight:bold">  {{this.getPageInfo().capStatus.displayName}} </span></p>
						<button class="btn btn-primary" type="button"> Validate capture</button>
					</div>
				<td>
				</td>
			</tr>			
		</table>
		<h5 class="font-weight-bold"> User Comments</h5>
		<div class="card card-body">
			<textarea class="usrNotes" matInput cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="10" cdkAutosizeMaxRows="40" value=" {{this.getPageInfo().capUserNotes}}"></textarea>
		</div>
	</div>

	<br/>
	<h4 class="font-weight-bold"> <button class="btn btn-primary" type="button" id="btnAdvancedInfo" (click)="this.onExpandAdvancedInfo()"> + Expand </button>  Advanced Info </h4>
	<hr style="height:2px;border:none;color:#55;background-color:#333;" />
	<br/>

	<div id="advancedInfo" class="card card-body" *ngIf="this.isAdvancedInfoVisible()" >
		<div style="margin-left: 30px">

			<h4 class="font-weight-bold"><button class="btn btn-primary" type="button" id="btnStreamInfo" (click)="this.onExpandStreamInfo()"> + Expand </button>  Stream Info</h4>
			<hr style="height:2px;border:none;color:#55;background-color:#333;" />

			<div style="card card-body" *ngIf="this.isStreamInfoVisible()">
				<table class="table">
				<tr>
					<td>
						CD IP
						&nbsp;
						<mat-form-field [style.width.px]=100>
							<mat-label>X2 IP</mat-label>
							<input matInput #x2ip value="{{this.getPageInfo().capX2Ip}}">
						</mat-form-field>
						<br>
						CD Port
						&nbsp;
						<mat-form-field [style.width.px]=100>
							<mat-label>X2 port</mat-label>
							<input matInput #x2prt value="{{this.getPageInfo().capX2Port}}">
						</mat-form-field>
						<br>
						CD Transport
						&nbsp;
						<mat-form-field appearance="fill" [style.width.px]=100>
							<mat-label>X2 Transport</mat-label>
							<select matNativeControl required>
								<option *ngFor="let trans of this.getCapTransportTypes(); let idx = index" value="{{trans.id}}">{{trans.displayName}}</option>
							</select>
						</mat-form-field>
						<br>
						CC IP
						&nbsp;
						<mat-form-field [style.width.px]=100>
							<mat-label>X3 IP</mat-label>
							<input matInput #x3ip value="{{this.getPageInfo().capX3Ip}}">
						</mat-form-field>
						<br>
						CC Port
						&nbsp;
						<mat-form-field [style.width.px]=100>
							<mat-label>X3 port</mat-label>
							<input matInput #x3prt value="{{this.getPageInfo().capX3Port}}">
						</mat-form-field>
						<br>
						CC Transport
						&nbsp;
						<mat-form-field appearance="fill" [style.width.px]=100>
							<mat-label>X3 Transport</mat-label>
							<select matNativeControl required>
								<option *ngFor="let trans of this.getCapTransportTypes(); let idx = index" value="{{trans.id}}">{{trans.displayName}}</option>
							</select>
						</mat-form-field>
<td>
					<td>
						<div class="card card-body">
						<h5 class="font-weight-bold text-center">Detected Streams</h5>
						<div *ngIf="!this.isStreamReady()">
							<!-- <button class="btn btn-primary" type="button" (click)="this.onGetStreamsClick()"> GetStreams </button>-->
							<div class="text-center">
								<img width="300px" class="text-center" src="assets/loading.gif" />					  
							</div>
						</div>
						<div *ngIf="this.isStreamReady()">
							<ul style="list-style:none" >
								<li *ngFor="let stream of this.getStreamInfos(); let idx= index">
									<div>
										{{idx+1}}.&nbsp;{{stream.trans}}@{{stream.port}}&nbsp;{{stream.protocol}}&nbsp;{{stream.packets}} packets,&nbsp;{{stream.size}} bytes
										<br>
										<br>
									</div>
								</li>
							</ul>
						</div>
						</div>
					</td>
				</tr>
				</table>
			</div>
		</div>
		<div style="margin-left: 30px">
			<h4 class="font-weight-bold"> <button class="btn btn-primary" type="button" id="btnCaptureInfo" (click)="this.onExpandCaptureInfo()"> + Expand </button>  Capture Info</h4>
			<hr style="height:2px;border:none;color:#55;background-color:#333;" />
			<div id="captureInfo" style="card card-body" *ngIf="this.isCaptureInfoVisible()">				
					Target IC 
					<mat-form-field appearance="fill" [style.width.px]=100>
						<mat-label>IC Type</mat-label>
						  <select matNativeControl required>
							<option *ngFor="let ic of this.getICTypes()" value="{{ic.id}}">{{ic.displayName}}</option>							
						  </select>
					</mat-form-field>
					&nbsp;
					&nbsp;
					IC Value
					<mat-form-field [style.width.px]=100>
							<mat-label>ICValue</mat-label>
							<input matInput #icvalue value="{{this.getPageInfo().capIC.infoValName}}">
					</mat-form-field>
					&nbsp;
					&nbsp;
					Switch time
					<mat-form-field [style.width.px]=100>
							<mat-label>Switch Time</mat-label>
							<input matInput #swtime value="{{this.getPageInfo().capSwitchDate}}">			
					</mat-form-field>
					<ul style="list-style:none">						
						<li style="display:inline" *ngFor="let info of this.getPageInfo().getCaptureInfos(); let idx = index">
							<button class="btn btn-secondary btn-sm" type="button" (click)="this.onRemoveCaptureInfoClick(idx)"> X</button>
							&nbsp;
							 <span style="font-weight:bold;color: #0000BB">{{info.infoTypeName}}:</span> {{info.infoValName}}
							 &nbsp;
							 &nbsp;
						</li>
					</ul>
					<br>
					<button class="btn btn-primary" type="button" (click)="onAddCaptureInfoClick()" > Add Capture Info </button>
			</div>
		</div>
		<br>
		<br>
		<div id="captureTag" style="margin-left: 30px" *ngIf="this.isCaptureTagVisible()">
			<h4 class="font-weight-bold"><button class="btn btn-primary" type="button" id="btnCaptureInfo" (click)="this.onExpandCaptureTag()"> + Expand </button> Capture Tags</h4>
			<hr style="height:2px;border:none;color:#55;background-color:#333;" />
			<div style="card card-body">
			</div>
			<ul style="list-style:none">
						<li style="display:inline" *ngFor="let tg of this.getPageInfo().getCaptureTags(); let idx = index">
							<button class="btn btn-secondary btn-sm" type="button" (click)="this.onRemoveCaptureTagClick(idx)"> X</button>
							 {{tg.displayName}}
							 &nbsp;
							 &nbsp;
						</li>
			</ul>
			<button class="btn btn-primary" type="button" (click)="this.onAddCaptureTagClick()" > Add Capture Tag </button>
		</div>
			
	</div>
	
	<br>
	<h4 class="font-weight-bold"><button class="btn btn-primary" type="button" id="btnCaptureReference" (click)="this.onExpandCaptureReference()"> + Expand </button> Capture referenced {{this.getPageInfo().getCaptureRefNumber()}} times in {{this.getPageInfo().getCaptureProjsNumber()}} projects</h4>		
	<hr style="height:2px;border:none;color:#55;background-color:#333;" />
	<br>
	
	<div id="captureReference" class="card card-body" *ngIf="this.isCaptureReferenceVisible()">
		
		<div class="card-card-body" style="margin-left:50px">
			<ul style="list-style:none">
				<li *ngFor="let prj of this.getPageInfo().getCaptureProjectLinks(); let idx = index">
					<h4 class="font-weight-bold">{{prj.projName}} - {{prj.capSetNames.length}} references</h4>
					<hr style="height:2px;border:none;color:#55;background-color:#333;" />
					<h5 class="font-weight-bold">Capture Sets</h5>
					<ul style="list-style:none">
						<li *ngFor="let capSetName of prj.capSetNames; let ii = index">
							<h5> {{capSetName}}</h5>
						</li>						
					</ul>
					<hr style="height:0.5px;border:none;color:#00;background-color:#333;" />
					<br>
					<br>
				</li>
			</ul>
		</div>		
	</div>

	<br>
	<div>
		<button class="btn btn-primary float-left" style="margin-left:20px" type="button"> Submit Changes </button>
		<button class="btn btn-primary float-right" style="margin-right:20px" type="button"> Remove Capture </button>
	</div>
	<br>
	<br>
	<br>
	<br>

	
	
</main>
