

<div class="d-flex justify-content-center">
  <h1>Welcome guest!</h1>
</div> 

<!-- 
<form class="d-flex justify-content-center"><input type="text" placeholder="Search.." size="80%">
  <button type="submit" class="btn btn-outline-primary" size="20%"><i class="fas fa-search"></i></button>
  <button type="submit"  class="btn btn-outline-primary" size="20%">Search</button>
</form>
-->

<br><br>
<table width="100%" >
  <tr class="d-flex justify-content-around">
    <td><button class="nav-item nav-link" class="btn btn-primary" routerLink="/SearchPage">Search in Captures</button></td>
    <!--<td><button class="nav-item nav-link" class="btn btn-primary" routerLink="./">Search in Protocols</button></td>-->
    <td><button class="nav-item nav-link" class="btn btn-primary" (click)="onGetAllProjectsClick()">Get Projects List</button></td>
  </tr>
  <tr class="d-flex justify-content-around">
    <td>
      <button type="button" class="btn btn-primary" (click)="onCaptureUploadClick()">Upload Capture</button>      
    </td>
    <td>
		<button class="nav-item nav-link" class="btn btn-primary"  data-toggle="modal" data-target="#createProj" (click)="onCreateProjectClick()" >Create Project</button>
	</td>		
  </tr>
</table>

	<br>
	<br>
	<br>
	
	<div class="card card-body">
		<ul style="list-style:none">
			<table class="table">
			<tr>
				<li *ngFor="let prj of this.getProjects(); let idx= index">
					<a style="font-size: 40px" href="{{prj.projectLink}}">{{idx+1}}. {{prj.projectName}} </a>
					<br>
					<br>
				</li>
			</tr>
			</table>
		</ul>
	</div>

<br><br>

