
<div *ngIf="this.isProjectCreating">
	<div class="d-flex justify-content-center">
		<h1>Creating Project</h1>
	</div>
	<br>
	<div class="text-center">
		<img width="500px" class="text-center" src="assets/loading.gif" />					  
	</div>
</div>

<div *ngIf="!this.isProjectCreating">
<div class="d-flex justify-content-center">
  <h1>Welcome guest!</h1>
</div> 

<form class="d-flex justify-content-center"><input type="text" placeholder="Search.." size="80%">
  <button type="submit" class="btn btn-outline-primary" size="20%"><i class="fas fa-search"></i></button>
  <button type="submit"  class="btn btn-outline-primary" size="20%">Search</button>
</form>

<br><br>
<table width="100%" >
  <tr class="d-flex justify-content-around">
    <td><button class="nav-item nav-link" class="btn btn-primary" routerLink="/SearchPage">Search in Captures</button></td>
    <td><button class="nav-item nav-link" class="btn btn-primary" routerLink="./">Search in Protocols</button></td>
    <td><button class="nav-item nav-link" class="btn btn-primary" routerLink="/ProjectPage">Search in Projects</button></td>
  </tr>
  <tr class="d-flex justify-content-around">
    <td><!--<button class="nav-item nav-link" class="btn btn-primary" routerLink="/CaptureEdit">Upload Capture</button>-->
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#uploadCapture">Upload Capture</button>
      
      <div class="modal fade" id="uploadCapture" role="dialog" aria-labelledby="uploadCaptureLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <form method="get" action="./CaptureEdit">
            <div class="modal-content">

              <div class="modal-header">
				<div *ngIf="!this.isCaptureUploading">
					<h5 class="modal-title text-center" id="uploadCaptureLabel">Upload New Capture</h5>					
				</div>
				<div *ngIf="this.isCaptureUploading">
					<h5 class="modal-title text-center" id="uploadingCaptureLabel">Uploading capture, please wait</h5>
				</div>
              </div>

              <div class="modal-body">
				<div *ngIf="!this.isCaptureUploading">
					Browse for a capture
					<!-- <label for="files" class="btn" (change)="onFileChange($event)"><i class="fas fa-folder"></i></label>-->
					<div>
					<input id="files"
						name="fileToUpload" 
						type="file" 
						accept=".snoop, .torrent, .pcap, .pcapng"
						(change)="onFileSelected($event.target.files)">
					</div>				
					<div *ngIf="this.showUploadError">
						<p style="color:#DD0000">*Please select a file for upload</p>
					</div>
				</div>
				<div *ngIf="this.isCaptureUploading">
					<div class="text-center">
						<img width="200px" class="text-center" src="assets/loading.gif" />					  
					</div>
				</div>
              </div>

              <div class="modal-footer" *ngIf="!this.isCaptureUploading">
                <button type="button" class="btn btn-secondary" id="closeModal" data-dismiss="modal">Close</button>
                <button class="btn btn-primary" type="submit" (click)="onCaptureUploadClick()">Upload Now</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </td>
    <td>
		<button class="nav-item nav-link" class="btn btn-primary"  data-toggle="modal" data-target="#createProj" (click)="onCreateProjectClick()" >Create Project</button>
	</td>
	
	<!-- 
    <div class="modal fade" id="createProj" role="dialog" aria-labelledby="createProjLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <form method="GET" action="/ProjectPage">
          <div class="modal-content">
    
            <div class="modal-header">
              <h5 class="modal-title" id="createProjLabel">New Project</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
    
            <div class="modal-body">
              <table>
                <tr>
                  <td><label for="projName">Project name:</label></td>
                  <td><input type="text" id="projName" name="projName" width="80%"></td>
                </tr>
    
                <tr>
                  <td><label for="projDetails">Details:</label></td>
                  <td><input type="text" id="projDetails" name="projDetails" width="80%"></td>
                </tr>
              </table>
    
            </div>
    
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button class="btn btn-primary" type="submit">Create</button>
            </div>
          </div>
        </form>
      </div>
    </div>
	-->
  </tr>
</table>

</div>

<br><br>

