
<style>
  .container {
    height: 90px;
    position: relative;
    border: 3px solid green; 
  }
  
  .vertical-center {
    margin: 0;
    position: relative;
    top: 10%;
    left: 50%;
  }

  .right-side{
    margin: 0;
    position: absolute;
    left: 90%;
  }

  .center {
  margin: 0;
  position: absolute;
  left: 50%;
}

.navbar {
  width: 100%;
  background-color: #555;
  overflow: auto;
}

.navbar a {
  float: left;
  padding: 12px;
  color: white;
  text-decoration: none;
  font-size: 17px;
}

.navbar a:hover {
  background-color: #000;
}

.active {
  background-color: #4CAF50;
}

@media screen and (max-width: 500px) {
  .navbar a {
    float: none;
    display: block;
  }
}
</style>

<!-- Toolbar -->

<div class="toolbar" role="banner" class="text-center">
<p>
  <a href="/FirstPage"><img
    width="150"
    alt="Arcanist Logo"
    src="assets/ArcanistIco.png"
  /></a>
</p>
  <h1 class="text-center"> Welcome to Arcanist </h1>

</div>

<div class="navbar navbar-expand-lg navbar-dark">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon "></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-item nav-link" routerLink="/HomePage">UserHomePage</a>
      </li>
      <li class="nav-item">
        <a class="nav-item nav-link" routerLink="/CaptureEdit">CaptureEdit</a>
      </li>
      <li class="nav-item">
        <a class="nav-item nav-link" routerLink="/SearchPage">CaptureSearch</a>
      </li>
      <li class="nav-item">
        <a class="nav-item nav-link" routerLink="/ProjectPage">Project</a>
      </li>

      <!--<a class="nav-item nav-link" routerLink="/FirstPage">FirstPage</a>-->
      <!--<a class="nav-item nav-link" routerLink="/UploadPage">CaptureUpload</a>-->
    </ul> 
  </div>
</div>

<router-outlet></router-outlet>