
	<div class="card card-body" *ngIf="!this.isPageReady()"> 
		<button class="btn btn-primary" type="button" (click)="onFetchProjectClick()"> Fetch Project Page From Backend</button> 
		<button class="btn btn-primary" type="button" (click)="onGeneratePageClick()"> Generate Project Page</button>
		
		<!-- <form> retrive data from BE
			<label>Choose project: </label>
			<input type="text" id="projName" name="projName" value="dropdownlist" > 
			<select id="projName" name="projName">
				<option value="empty"></option>
				<option *ngFor="let item of this.projNamesList">{{item}}</option>
			</select>
			<button></button>
		</form> -->
	</div>
	<main role="main" *ngIf="this.isPageReady()">
	<h1 class="text-center"> Project: {{this.getProjectName()}}</h1>
	<!--  href="#ProjDetails" -->
		<p class="font-weight-bold">	
			<button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#projDetailsSection" aria-expanded="true"
			 aria-controls="projDetailsSection" id="btnProjectDetails" (click)="this.onExpandProjectDetails()">(-)</button>			
			Project Details			
		</p>
		<hr style="height:2px;border:none;color:#55;background-color:#333;" />
		
		<div id="projectDetails" class="content card card-body" *ngIf="this.isProjectDetailsVisible()">
		
		<!-- <div class="collapse" id="projDetailsSection"> -->
			<div class="card card-body" >
				<p>Creation date: {{this.getProjectCreationDate()}}</p>
				<p>Last update: {{this.getProjectLastEdited()}}</p>
				<p>Project Owner: {{this.getProjectOwnerName()}}</p>
			</div>
			
			<div class="card card-body" >
			<p class="text-center"> Project Notes </p>
				<textarea class="usrNotes" matInput cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="10" cdkAutosizeMaxRows="40" value="{{this.getProjDetails()}}"></textarea>
			</div>
		<!-- </div>-->
		<br>
		<br>
		<p class="font-weight-bold">
			ProjectMembers
		</p>
		<hr style="height:2px;border:none;color:#55;background-color:#333;" />
		<div class ="card card-body">
			<ul style="list-style:none">
				<div class="card card-body">
					<tr>
						<td> <button class="btn btn-secondary" type="button " (click)="onSetOwnerClick()"> Change </button>  &nbsp; {{this.getProjectOwnerName()}} - Owner </td>
						
					</tr>
				</div>
				<li *ngFor="let member of this.getProjMembers(); let idx = index">
				<div class="card card-body">
					<tr>					
						<td> <button class="btn btn-secondary" type="button" (click)="onRemoveMemberClick(idx)"> Remove </button> &nbsp; {{member.surname}}, {{member.name}} - {{member.role}}  </td>						
					</tr>
				</div>
				</li>
			</ul>
			
			<button class="btn btn-primary" type="button" (click)="onAddMemberClick()">Add Member</button>
		</div>
		
		</div>
		
		<br>
		<br>
		<br>
		
		<p class="font-weight-bold">		

			<button class="btn btn-primary" id="btnProjectCaptureSets" (click)="this.onExpandProjectCaptureSets()">(-)</button> &nbsp;&nbsp;&nbsp;
			Project Capture Sets ({{this.getProjCaptureSetsNumber()}})
			
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			<button class="btn btn-primary" (click)="onAddSetClick()"> Add new Capture Set </button>
		</p>

		<hr style="height:2px;border:none;color:#55;background-color:#333;" />	

		<div class="card card-body" id="capSetsBody" *ngIf="this.isProjectCaptureSetsVisible()">
			<ul style="list-style:none">
				<li *ngFor="let capSet of this.getProjCaptureSets(); let idx = index">
					<div class="card card-body" style="border: 1px solid black;">
						<table class="table">
							<tr>
								<th scope="col"><button class="btn btn-secondary" type="button" (click)="onRemoveSetClick(idx)"> Remove </button> </th>
								<th scope="col">{{capSet.capSetName}}</th>
								<th scope="col">{{capSet.capSetX2Protocol}}</th>
								<th scope="col">{{capSet.capSetX3Protocol}}</th>
								<th scope="col"> <button class="btn btn-primary"> (+) Total Number:{{capSet.getCapNumber()}} </button> </th>
								<th scope="col"><button class="btn btn-primary" type="button" (click)="onAddCaptureClick(idx)"> Add Capture </button> </th>
								<th scope="col"><button class="btn btn-primary" type="button" (click)="onInjectionSettingsClick(idx)"> Injection Settings </button> </th>
								<th scope="col"><button class="btn btn-primary" type="button" (click)="onPlayAllClick(idx)"> Play All </button></th>
							</tr>							
						
						</table>
					</div>
					<div class="card card-body" id="capSet{{idx}}">
						<table class="table">
								<thead>
									<tr>
										<th scope="col">#</th>
										<th scope="col">Capture Name </th>
										<th scope="col">Type</th>
										<th scope="col">Switch Date</th>
										<th scope="col">IC</th>
										<th scope="col">X2</th>
										<th scope="col">X3</th>
										<th scope="col"></th>
									</tr>
								</thead>
								<tbody>
									<tr *ngFor="let cap of capSet.getCaptures(); let ii=index">
										<th scope="row">{{ii+1}}</th>
										<td>{{cap.captureName}}</td>
										<td>{{cap.captureType}}</td>
										<td>{{cap.switchDate}}</td>
										<td>{{cap.captureIC}}:{{cap.captureICVal}}</td>
										<td>{{cap.captureX2Protocol}}@{{cap.captureX2Transport}}:{{cap.captureX2Port}}</td>
										<td>{{cap.captureX3Protocol}}@{{cap.captureX3Transport}}:{{cap.captureX3Port}}</td>
										<td>
											<button class="btn btn-secondary" type="button" (click)="onSinglePlayClick(idx,ii)"> Inject </button>
											&nbsp;
											<button class="btn btn-secondary" type="button" (click)="onSingleCaptureSettingsClick(idx,ii)"> Settings </button>
											&nbsp;
											<button class="btn btn-secondary" type="button"> Download </button>
											&nbsp;
											<button class="btn btn-secondary" type="button"> Info </button>											
											&nbsp;
											<button class="btn btn-secondary" type="button" (click)="onRemoveCaptureClick(idx,ii)"> Remove </button>
										</td>
									</tr>									
								</tbody>
					  </table>
				  </div>
				</li>
				
			</ul>
		</div>
		
		<div class="text-center">
			<button class="btn btn-primary align-center" type="button" (click)="onSubmitChangesClick()"> Apply changes </button>
		</div>
	</main>

	
		