<p>project workszor!</p>

<style>
/* Solid border */
hr.solid {
  border-top: 3px solid #bbb;
}
</style>

<!--<h1>Project Name: {{selectedProj.name}}</h1>-->

<div>
    <form><h1 class="center">Project Name: {{this.getProjName()}}</h1></form>
    <form>
        <label><b>Project Details</b></label>
        <hr class="solid">
		<table style="width:50%">
			<tr>
				<td>Creation Date:</td>
				<td>{{this.getProjCreationDate()}}</td>			
			</tr>
			<tr>
				<td>Last Edited:</td>
				<td>{{this.getProjLastEdited()}}</td>
			</tr>
			<tr>
				<td>Project Owner:</td>
				<td>{{this.getProjProjectOwner()}}</td>
			</tr>			
		</table>
		
		<form>
			<br>
			<br>
			<b> Project details </b>
			<br>
			<textarea id="user_comments" name="userComments" rows="10" cols="100">
			{{this.getProjProjDetails()}}
			</textarea>   
		</form>
		
		<form>
			<label><b>Project Members</b></label>
			<hr class="solid">
			<ul class="no-bullets">
				<li *ngFor="let item of this.getProjMembers(); let i=index" >
					<table style="width:10%" >
						<tr>
							<td> <button>Remove</button> </td>
							<td>{{item.name}} {{item.surname}}</td>							
							<td>{{item.role}} </td>
						</tr>
					</table>
				</li>
			</ul>
			<button> Add Member </button>
		</form>
	
    </form>
    

    <form>
        <br>
        <label><b>Project Captures Sets  </b></label>
        <button>Add new Capture Set</button>
        <hr class="solid">
        <br>
		
		<ul class="no-bullets">
			<li *ngFor="let item of this.getCaptureSets()">								
				<table style="Width 100%">
					<tr>
						<td> <button>Remove</button></td>
						<td> {{item.name}}</td>
						<td> {{item.X2Protocol}}</td>
						<td> {{item.X3Protocol}}</td>
						<td> <button>(-) Total Number: {{item.capNumber}}</button></td>
						<td> <button>Add Capture</button> </td>
						<td> <button>Play All</button> </td>
					</tr>
				</table>
					
					<table style="Width 50%">
						<tr>
							<th>Capture Name</th>
							<th>Capture Type</th>
							<th>Switch Date</th>
							<th>IC</th>							
							<th></th><!-- Info -->
							<th></th><!-- Play -->
							<th></th><!-- Settings -->
							<th></th><!-- Download -->
							<th></th><!-- Remove -->
						</tr>
						<ul class="no-bullets">							
							<li *ngFor="let cap of item.getCaptureInfos()" >
								<tr>
									<td>{{cap.captureName}}</td>
									<td>{{cap.captureType}}</td>
									<td>{{cap.switchDate}}</td>
									<td>{{cap.captureIC}}: {{cap.captureICVal}}</td>
									<td><button>Info</button></td>
									<td><button>Play</button></td>
									<td><button>Settings</button></td>
									<td><button>Download</button></td>
									<td><button>Remove</button></td>
								</tr>
							</li>
						</ul>
					</table>
			</li>
		</ul>
		
		<!--
        chenar - in progress<br>
        <label>Protocol(type, RootName)</label>
        <label>FullName Protocol</label>
        <button>(+) Total Number: no.</button>
		-->
        
    </form>
</div>