  <h1 class="text-center"> Search in Captures</h1>
  <div class="card card-body" *ngIf="!this.isPageReady()">
		<button class="btn btn-primary" type="button" (click)="onGeneratePageClick()"> Generate Search Options</button>
	</div>    
	<main role="main" *ngIf="this.isPageReady()">
    <p> Name: 
    <mat-form-field appearance="fill">
      <mat-label>Name</mat-label>
        <input #box name="searchName" value="{{this.searchParameters.searchName}}" (blur)= "this.searchParameters.searchName = box.value"/>
    </mat-form-field>
    </p>
    <p> CD Protocol:
    <mat-form-field appearance="fill">
    <mat-label>CD Protocol</mat-label>
      <select formControlName="cdProtocols" id="cdProtocols" (change)="this.onCdProtocolOptionsChanged($event)">
        <option *ngFor="let p of this.searchOptions.cdProtocolOptions; let i = index" [value]="this.searchOptions.cdProtocolOptions[i].id">
          {{this.searchOptions.cdProtocolOptions[i].displayName}}
        </option>
      </select>
    </mat-form-field>    
    </p>
    <div>
      <h1>Testing search user input:</h1>
      <p>Name: {{this.searchParameters.searchName}}</p>
      <p>CD Protocol Id: {{this.searchParameters.cdProtocolSelectedId}}</p>
    </div>
  </main>
