<h1>Search page</h1>

<style>
    body {
      font-family: Arial;
    }
    
    * {
      box-sizing: border-box;
    }
    
    form.example input[type=text] {
      padding: 10px;
      font-size: 17px;
      border: 1px solid grey;
      float: left;
      width: 80%;
      background: #f1f1f1;
    }
    
    form.example button {
      float: left;
      width: 20%;
      padding: 10px;
      background: #2196F3;
      color: white;
      font-size: 17px;
      border: 1px solid grey;
      border-left: none;
      cursor: pointer;
    }
    
    form.example button:hover {
      background: #0b7dda;
    }
    
    form.example::after {
      content: "";
      clear: both;
      display: table;
    }

    .container {
    height: 50px;
    position: relative;
  }

  .vertical-center {
  margin: 0;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
</style>

<p>Browse a capture in Local PC</p>
<form action="/action_page.php">
  <input type="file" id="myFile" name="filename">
  <input type="submit">Not working yet
</form>
 
<div class="container">
  <div class="vertical-center">
    <button type="submit">Inject - not working yet</button>
  </div>
</div>

<div class="container">
  Helpfull links: <br>
  <a class="nav-item nav-link" routerLink="https://www.w3schools.com/howto/tryit.asp?filename=tryhow_js_autocomplete">autocomplete example w3schools</a><br>
  <a class="nav-item nav-link" routerLink="https://www.w3schools.com/howto/tryit.asp?filename=tryhow_js_popup_form">Popup login form</a><br>
  <a class="nav-item nav-link" routerLink="https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_icon_buttons">Icon Buttons</a><br>
  <a class="nav-item nav-link" routerLink=""></a><br>
  <a class="nav-item nav-link" routerLink=""></a><br>
  <a class="nav-item nav-link" routerLink=""></a><br>
</div>

