<style>
    .container {
      height: 110px;
      position: relative;
    }
    
    .vertical-center {
      margin: 0;
      position: relative;
      top: 10%;
      left: 50%;
    }
  
    .right-side{
      margin: 0;
      position: absolute;
      left: 90%;
    }
  
    .center {
    margin: 0;
    position: relative;
    left: 50%;
  }
  </style>

<div class="content" role="main">
	<button class="right-side" md-button (click)="onClickLogin()">Login</button>
</div>

<div class="container">
  <div class="center">
    <h1>Welcome guest</h1>
  </div> 
  <input type="text" placeholder="Search.." size="100%">
  <button type="submit"><i class="fa fa-fw fa-search">SearchIcon</i></button>
  
</div>

<div class="container" role="main">
  <div class="vertical-center">
    <button>Search in Captures</button>
  </div>
  <div>
    <button>Search in Protocols</button>
    <button class="right-side">Search in Projects</button>
  </div>
</div>

<div class="vertical-center" role="main">
  <button type="button" routerLink="/UploadPage">Upload Capture</button>
  on click -> floting screem for upload capture and loading screen -> 
  then redirect to upload page
  <br>
  Browse for a capture (or drag and drop the capture below):
  <button>SearchIcon</button>
</div>
