<br>
<!-- <div class="row">
    <div class="col-sm-3">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="..." alt="Card image cap">
            <div class="card-body">
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
                <button class="btn btn-outline-dark">Edit</button>
            </div>
        </div>
    </div>

    <div class="col-sm-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">User Details</h5>

                <table>
                    <td>
                        <tr>
                            <td>Name: </td>
                            <td>John</td>
                        </tr>
                        <tr>
                            <td>Surname: </td>
                            <td>Doe</td>
                        </tr>
                        <tr>
                            <td>Email: </td>
                            <td>john.doe@cognyte.com</td>
                        </tr>
                        <tr>
                            <td>Role: </td>
                            <td>user_role</td>
                        </tr>
                        <tr>
                            <td>Register Date: </td>
                            <td>a date</td>
                        </tr>
                    </td>
                </table>

            </div>
        </div>
    </div>

    <div class="col-sm-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Assign Projects</h5>

                TBD: table (from list) with projects where user is contributor

            </div>
        </div>

        <br>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Owned Projects</h5>

                TBD: table (from list) with projects where user is owner<br>
                TBD: table (from list) with projects where user is owner<br>
                TBD: table (from list) with projects where user is owner<br>
                TBD: table (from list) with projects where user is owner<br>
                TBD: table (from list) with projects where user is owner<br>
                TBD: table (from list) with projects where user is owner<br>
                TBD: table (from list) with projects where user is owner<br>
                TBD: table (from list) with projects where user is owner<br>
                TBD: table (from list) with projects where user is owner<br>
                TBD: table (from list) with projects where user is owner<br>
                TBD: table (from list) with projects where user is owner<br>
                TBD: table (from list) with projects where user is owner<br>
                TBD: table (from list) with projects where user is owner<br>
                TBD: table (from list) with projects where user is owner<br>
                TBD: table (from list) with projects where user is owner<br>
                TBD: table (from list) with projects where user is owner<br>
                TBD: table (from list) with projects where user is owner<br>

            </div>
        </div>
    </div>
</div>

<br>
<div class="row">
    <div class="col-sm-2">
        <div class="card">
            <h5 class="card-title">Favorites</h5>

            some text here<br>

        </div>
    </div>

    <div class="col-sm-4">
        <div class="card">
            <h5 class="card-title">Login Activity</h5>
            some text here<br>
            some text here<br>
            some text here<br>
            some text here<br><br>

        </div>
    </div>
</div>
<br><br><br> -->

<table width="95%" align="center">
    <div class="row">
        <div class="col-sm-3">
            <div class="card">
                <img class="card-img-top" src="assets/profile-picture.jpg" alt="Card image cap">
                <div class="card-body">
                    <br><p class="card-text">{{this.getA_text()}}</p>
                    <button class="btn btn-outline-dark" data-toggle="modal" data-target="#editModal">Edit</button>
                    <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h5 class="modal-title" id="editModalLabel">Avatar Text</h5>
                              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                              </button>
                            </div>
                            <div class="modal-body">
                                <label for="message-text" class="col-form-label">Message:</label>
                                <textarea #msg_txt class="form-control" id="message-text"></textarea>
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                              <button type="submit" class="btn btn-primary" data-dismiss="modal" (click)="this.onSubmitClick(msg_txt.value)">Save changes</button>
                            </div>
                          </div>
                        </div>
                    </div>
                </div>
            </div>
            <br>

            <div class="card">
                <h5 class="card-title">User Details</h5>
                <div class="card-body">
                    <table>
                        <td>
                            <tr>
                                <td>Name: </td>
                                <td>{{this.getLoggedInUserName()}}</td>
                            </tr>

                            <tr>
                                <td>Surname: </td>
                                <td></td>
                            </tr>

                            <tr>
                                <td>Email: </td>
                                <td></td>
                            </tr>

                            <tr>
                                <td>Others: </td>
                                <td></td>
                            </tr>
                        </td>
                    </table>
                    <button class="btn btn-outline-dark" disabled>Edit</button>
                </div>
            </div>
            <br>
        </div>

        <div class="col-sm-5">
            <div class="card">
                <h5 class="card-title">Owned Projects</h5>
                <div class="card-body" *ngIf="this.projInfo_Owner.length!=0">
                    <ul style="list-style:none"*ngFor="let prj of this.projInfo_Owner; let idx = index">
                        <li>{{idx+1}}. {{prj.projName}}</li>
                    </ul>
                </div>
            </div>
            <br>

            <div class="card">
                <h5 class="card-title">Assign Projects</h5>
                <div class="card-body" *ngIf="this.projInfo_Assign.length!=0">
                    <ul style="list-style:none"*ngFor="let prj of this.projInfo_Assign; let idx = index">
                        <li>{{idx+1}}. {{prj.projName}}</li>
                    </ul>
                </div>
            </div>
            <br>
        </div>

        <div class="col-4">
            <div class="card">
                <h5 class="card-title">Favorites</h5>
                <div class="card-body" *ngIf="this.projInfo_Fav.length!=0">
                    <ul style="list-style:none"*ngFor="let prj of this.projInfo_Fav; let idx = index">
                        <li>{{idx+1}}. {{prj.projName}}</li>
                    </ul>
                </div>
            </div>
            <br>
            
            <div class="card">
                <h5 class="card-title">Login Activity</h5>
                <div class="card-body">
                    <table>
                        <td>
                            <tr>
                                <td>Login Date: </td>
                                <td></td>
                            </tr>

                            <tr>
                                <td>Register Date: </td>
                                <td></td>
                            </tr>
                            
                            <tr>
                                <td>Last Page: </td>
                                <td></td>
                            </tr>

                            <tr>
                                <td>Last Update: </td>
                                <td></td>
                            </tr>
                        </td>
                    </table>
                </div>
            </div>
            <br>
        </div>
        
    </div>
</table>
<br><br>

